@import "~materialize-css/dist/css/materialize.min.css";

.image {
  background: url("./images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0%;
  left: 0;
}

.image-register {
  background: url("./images/registerBackground.jpg") no-repeat center center
    fixed;
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-wrapper {
  padding-left: 50px;
}

.card-action button {
  margin-left: 100px;
}

.card-content h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.test-action {
  display: block;
  border-top: 2px solid rgba(155, 155, 155, 0.555);
  line-height: 3rem;
}

.test-action .complete {
  color: rgb(201, 130, 0);
}

.delete {
  color: red !important;
  margin-left: 25px;
}

.user-selected {
  background-color: yellow;
}

.correct {
  color: green;
}

.uncorrect {
  color: red;
}

.check-answer {
  margin-left: 25px;

  font-size: 18px;
  display: flex;
}

.nav-wrapper ul li {
  margin-left: 40px;
}

.cards,
.tests {
  margin-top: 60px;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 90%;
}

.tests {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tests .card {
  width: 20%;
  margin-left: 25px;
  margin-right: 25px;
}

.auth-page {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

.reg-nav {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.auth-form {
  margin-top: 10%;
  margin-left: auto;
  margin-right: 100px;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(48, 48, 48, 0.678);
}

.auth-form input {
  color: white;
}

.test-list {
  border-radius: 25px !important;
}

.page-card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid wheat;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 70%;
  border-radius: 50px;
}

.page-card h4 {
  text-align: center;
}

.type-test {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.type-test span {
  font-size: 18px !important;
}

.userPhoto {
  max-width: 150px;
  max-height: 150px;
  margin-top: 20px;
}

.completed-tests h4 {
  text-align: center;
  display: block;
}

.test {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  padding-top: 1px;
  width: 100%;
  text-align: center;
  border: 2px solid wheat;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.test p {
  border-bottom: 2px solid rgba(250, 0, 104, 15%);
}

.test a {
  color: rgb(201, 130, 0);
}

.create-test-btn {
  margin: auto;
  margin-top: 30px;
}

.loader {
  display: flex;
  justify-content: center;
  padding-top: 20%;
  background: url("./images/background.jpg") no-repeat center center fixed;
  position: absolute;
  height: 100%;
  width: 100%;
}

.create-test-info {
  padding-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid wheat;
  border-top: 3px solid wheat;
}

.test-image{
  max-width: 400px;
  max-height: 400px;
}

.delete-btn {
  margin-top: 15px;
  height: 45px;
  font-size:20px;
  width: 60px;
  padding: 0;
}

.answer-image{
  margin-left: 10px;
}

.info-form {
  border-right: 2px solid wheat;
}

.add-question {
  text-align: center;

  margin-bottom: 20px;
}

.question {
  margin-bottom: 40px;
}

.answer {
  margin-left: 25px;
  display: flex;
}

.answer-text {
  font-size: 28px;
}

.answer .input-field {
  width: 50%;
}

.completed-test {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.create-completed-test button {
  height: 80px;
  width: 300px;
  font-size: 30px;
}

.create-completed-test,
.change-profile {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.test-info {
  overflow-wrap: break-word;
  margin: 50px;
  border-top: 2px solid wheat;
}

.test-info p {
  font-size: 18px;
}

.questions {
  border-top: 2px solid wheat;

  overflow-wrap: break-word;
  margin: 50px;
}

.test .test-name {
  overflow-wrap: break-word;
}
